
.reviews {
  text-align: center;
  padding: 3rem 1rem 1rem 1rem;
 
}

.reviews h2 {
  font-size: 2rem;
  font-weight: 800;
  color: #0a1d5d;
  margin-bottom: 0.5rem;
}

.reviews p {
  font-size: 1rem;
  color: #666;
  max-width: 600px;
  margin: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.contenedor {
  width: 85%;
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}



.testimonials__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.carta {

  
  gap: 1rem;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.carta i {
  font-size: 2.5rem;
  color: gold;
}

.carta p {
  font-size: 1rem;
  font-weight: 500;
}

.carta hr {
  width: 40px;
  margin: auto;
  color: darkblue;
}

.carta img {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 100%;
  border: rgb(34, 34, 127);
}

.carta .name {
  font-size: 0.9rem;
  font-weight: 400;
  transition: 0.3s;
  color: #0a1d5d;
}

.carta .name:hover {
  color: darkblue;
}


.stars {
  color: #d9aa5f;
  margin: 5px 0;
  font-size: 0.8rem;
  size: 2px;
}

.stars i {
  margin: 0 2px;
}

@media (width < 900px) {
  .testimonials__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (width < 600px) {
  .testimonials__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

